# Private Files
LearnersDictionary/Private
LearnersDictionary/GoogleService-Info.plist

# Xcode
xcuserdata/

# Pods
Pods/

# macOS
.DS_Store
.Trashes
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AppCode
.idea/